@media screen and (max-width: 300px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer,
  #price,
  #project {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
